#Dependecy directory
node_modules

# OS metadata
.DS_Store
Thubss.db

# dotenv environment variables file
.env

# exclude any content used in workspace for testing
__github_workspace__/*
# exclude any content used in runner temp directory
__runner_temp__/*

VeraDemo_Policy.json
pipeline-baseline-file.json

pipeline-scan-LATEST.zip
pipeline-scan.jar
context.json